body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a:link {
    color: #000000;
}

a:hover {
    color: gray;
}

a:visited {
    color: #000000;
}

.container {
    margin: 25px 400px;
    padding: 20px;
    border-style: solid;
    border-width: 4px;
}